/*Tablet responsive de 768px até 969px*/
@media only screen and ( min-width: 768px) and (max-width: 969px){
    
}


/*Celulares de até 767px*/
@media only screen and (max-width: 767px){
    .erros, .ok{
        width: 300px;
        font-size:12px; 
    }.erros p{color: #fff;}
    #formulario{
        width: 300px
    }
    #formulario h2, #formulario h3{
    font: 16px;
    width: 100%;
}
    #formulario h3{
        font-size: 14px;
        line-height: 20px;
    }
    
    #formulario input, #formulario textarea{
        font-size: 12px;
    }
    #formulario #progress li{
        font-size: 9;
        font-weight: 200;
    }
    .subtitulo{
        font-size: 11px;
        line-height: 17px;
    }
    .pergunta-1{
        font-size: 14px;
        line-height: 20px;
    }
    .servicos-utilizado{
        font-size: 12px;
    }
    #formulario .acao{
       text-align: center;
        float: none;
    }
    .avaliacao li{
        width: 48.5%;
        font-size: 9px;
    }
    .avaliacao-ass p{
        text-align: center;
        float: none;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .resposta-1 p{width: 200px;}
    .resposta-2 p{ width: 200px}
    }
    
}