a*{
margin: 0px;
    padding: 0px;
}
html{
    height: 100%;
    background: #0066b3;
}
h1, h2, h3, p{
    font-family: ubuntu, 'Trebuchet MS', Helvetica, sans-serif;
    color: #1c1c1c;
}

.erros, .ok{
    width: 390px;
    padding: 5px;
    background: #EA4335;
    margin: 20px auto 0 auto;
    border: 1px solid #EA4335;
    border-radius: 4px 20px;
    color: #fff;
    text-align: center;
}
.ok{
    width: 390px;
    background: #34A853;
    border-color: #34A853;
    box-shadow: 0 0 15px 1px rgba(0,0,0, 0.4);
    color: #fff;
    font-family: ubuntu, 'Trebuchet MS', Helvetica, sans-serif;
    padding: 25px;
}
.ok p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #fff;
    font-family: ubuntu, 'Trebuchet MS', Helvetica, sans-serif;
}
.ok img{
    margin-top: 20px;
    width: 350px   
}
.btn-voltar{
     width: 100px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 4px 10px;
    color: #34a853;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: all .3s ease;
    margin-bottom: 10px;
}

.btn-voltar:hover{
    border:3px solid #fff;
    background: #34a853;
    color: #fff;
}
body{
    font-family:Roboto,'Trebuchet MS', Helvetica, sans-serif;
    letter-spacing: .5px;
}
#formulario{
    width: 600px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}
#formulario h2, #formulario h3{
    font: 22px ubuntu, 'Trebuchet MS', Helvetica, sans-serif;
    color: #0066eb;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 4%;
}
#formulario h3{
    color:#1c1c1c; font-size: 17px;
}
#formulario fieldset{
    background: white;
    border: 0 none;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 0 0 15px 1px rgba(0,0,0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}



  #formulario fieldset:not(:first-of-type){
    display: none;
} 



#formulario input, #formulario textarea{
    padding: 10px;
    border: 1px solid #0066b3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font: 14px ubuntu, 'Trebuchet MS', Helvetica, sans-serif;
    color: #0066b3;
    font-weight: bold;
    margin-bottom: 10px;
}
#formulario .acao{
    width: 100px;
    background: #0066b3;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
    float: left;
    margin-right: 5%;
    transition: all .3s ease;
}
#formulario .acao:hover{
    background: #fff;
    border: 1px solid #0066b3;
    color: #0066b3;
    cursor: pointer;
}
#formulario #progress{
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
#formulario #progress li{
    list-style-type: none;
    color: white;
    font-weight: bold;
    letter-spacing: .3px;
    text-transform: uppercase;
    font-size: 11px;
    float: left;
    width: 25%;
    position: relative;
}
#formulario #progress li:before{
    content: counter(step);
    counter-increment: step;
    width: 20px;
    display: block;
    line-height: 20px;
    background: white;
    color:#333;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto 10px auto;
}
#formulario #progress li:after{
    content: '';
    width: 100%;
    background: white;
    height: 2px;
    position: absolute;
    top: 9px;
    left: -50%;
    z-index: -1;
}
#formulario #progress li:first-child:after{
    content: none;
}
#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
    background: rgba(40, 208,141,0.9);
    color: white;
    text-shadow: 0 1px 0;
}
/* btn geral */
.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.subtitulo{
 text-align: left;
 font-size: 14px;
 line-height: 20px;
 margin-bottom: 20px;
}
.pergunta-1{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0066b3;
    font-weight: bold;
}
#comentario{
    max-height: 200px;
}
/* 4 passo */
.avaliacao{
    margin-bottom: 30px;
   counter-reset: step;
}
.avaliacao li{
   display: inline-block;
   padding: 5px;
   width: 30%;
   text-align: center;
   font-weight: bold;
   font-size: 12px;
    position: relative;
}
.avaliacao li:before{
   content: counter(step);
   counter-increment: step;
   width: 20px;
   display: block;
   background: #0066be;
   color: white;
   border-radius: 50%;
    padding: 3px;
   margin: 0 auto 10px auto;
}
.subtitulo-1{
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0066b3;
    font-size: 20px;
}
.subtitulo-1:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 10px;
	background: #0066b3;
	margin: 5px 0 0 2px;
    
}
/*avaliação*/
.avaliacao-ass{
    margin-bottom: 20px;
}
.avaliacao-ass p{
    text-align: left;
    font-weight: 600;
    float: left; 
    margin-right: 74px;
}
.avaliacao-ass li{
    list-style: none;
    text-align: left;
    display: inline-block;
    margin: 0 10px 0 5px;
    font-weight: bold;
    font-size: 14px;
    color: #0066b3;
}
/*estrela*/
.estrelas input[type=radio]{
    display: none;
    cursor: pointer;
}.estrelas label i.fa:before{
	content: '\f005';
	color: #0066b3;
}.estrelas  input[type=radio]:checked  ~ label i.fa:before{
	color: #CCC;
}
.resposta-1 p{
    width: 156px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .5px;
    text-align: left;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
.resposta-1{
     margin-bottom: 50px;
}
.resposta-1 label{
    width: 20px;
    list-style: none;
    display: inline-block;
    margin: 5px;
    text-align: left;
    margin-top: 30px;
   
}
.resposta-1:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 10px;
	background: #0066b3;
	margin: 25px 0 0 2px;
}
.resposta-2 p{
    width: 156px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .5px;
    text-align: left;
    float: left;
    margin-bottom: 20px;
    
}
.resposta-2{
     margin-bottom: 40px;
    margin-top: -30px;
}
.resposta-2 li{
    width: 20px;
    list-style: none;
    display: inline-block;
    margin: 2px;
    text-align: left;
    margin-top: 20px;
   
}
.resposta-2:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 10px;
	background: #0066b3;
	margin: 25px 0 0 2px;
}
/*Designer select*/


/*final resposta*/
.final-resp{
    margin-bottom: 20px;
}
.final-resp ul{list-style:none;}
.final-resp ul li{
    display: inline-block;
    margin: 20px;
}
.servicos-utilizado{
    width: 100%;
    border: 1px solid #0066b3;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
    cursor: pointer;
    color: gray;
}













